{{#extend '_h5bp-layout' title='Main'}}
  {{#content 'main'}}
    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-span-3">
            <h1>Hello!</h1>
            <p>{{text}}</p>
          </div>          
        </div>
      </div>
    </div>
  {{/content}}
{{/extend}}
