{{#extend '_h5bp-layout' title='Main'}}
  {{#content 'main'}}
    <div class="container">
      <div class="nav">
        <a href="#invites">invites</a>
        <a href="#games">games</a>
        <a href="#players">players</a>                
      </div>
      <div id='game' class='part'></div>
      <div id='games' class='part'></div>
      <div id='players' class='part'></div>
      <div id='invites' class='part'></div>
      <div id='start' class="part">
        <div id="login" class="part"></div>
        <div id="register" class="part"></div>
      </div>
    </div>

    <script type="text/template" id="_login">
      <div class="login">
        <a href="#register">register</a>
        <p>
          Username: <input type="text" id="username" />
        </p>
        <p>
          Password: <input type="password" id="password" />
        </p>
        <p>
          <button id="do-login">Log in</button>
        </p>
      </div>
    </script>

    <script type="text/template" id="_register">
      <div class="register">
        <a href="#login">login</a>
        <p>
          Username: <input type="text" id="username" />
        </p>
        <p>
          Password: <input type="password" id="password1" />
        </p>
        <p>
          Retype password: <input type="password" id="password2" />
        </p>
        <p>
          <button id="do-register">Register</button>
        </p>
      </div>
    </script>

    <script type="text/template" id="_players">
      <div class="players">
        <% _.each(plList, function(p) {
          %> <p><%= p.get('username') %><button class="invite" data-player-id="<%= p.get('pk') %>">Invite</button></p> <%
        }) %>
      </div>

    </script>

    <script type="text/template" id="_invites">
      <div class="invites">
        <% _.each(inviteList, function(inv) {
          %> <p>
            <%= inv.get('state') %>
            <button class="accept" data-invite-id="<%= inv.get('pk') %>">Accept</button>
            <button class="decline" data-invite-id="<%= inv.get('pk') %>">Decline</button>
          </p> <%
        }) %>
      </div>
    </script>

    <script type="text/template" id="_games">
      <div class="games">
        <% _.each(games, function(g) {
          %> <p>
            <%= g.get('state') %>
            <button class="to-game" data-game-id="<%= g.get('pk') %>">To game</button>
          </p> <%
        }) %>
      </div>
    </script>

    <script type="text/template" id="_game">
      <div class="game">
        <p>
          This game state is: <%= game.get('state') %>
        </p>
        <div>
          <button data-code="A1" class="tile"><%= map['A1'] %></button>
          <button data-code="A2" class="tile"><%= map['A2'] %></button>
          <button data-code="A3" class="tile"><%= map['A3'] %></button><br>
          <button data-code="B1" class="tile"><%= map['B1'] %></button>
          <button data-code="B2" class="tile"><%= map['B2'] %></button>
          <button data-code="B3" class="tile"><%= map['B3'] %></button><br>
          <button data-code="C1" class="tile"><%= map['C1'] %></button>
          <button data-code="C2" class="tile"><%= map['C2'] %></button>
          <button data-code="C3" class="tile"><%= map['C3'] %></button>
        </div>
      </div>
    </script>
  {{/content}}
{{/extend}}
