{{#extend '_h5bp-layout' title='Main'}}
  {{#content 'main'}}
    <div class="container">
      <div id="lang"></div>
      <div id="nav" class="part nav"></div>
      <div id='game' class='part'></div>
      <div id='games' class='part'></div>
      <div id='players' class='part'></div>
      <div id='invites' class='part'></div>
      <div id='start' class="part">
        <div id="login" class="part"></div>
        <div id="register" class="part"></div>
      </div>
    </div>

    <script type="text/template" id="_login">
      <div class="login">
        <a href="#register"><%= app.text('REGISTER') %></a>
        <p>
          <%= app.text('USERNAME') %>: <input type="text" id="username" />
        </p>
        <p>
          <%= app.text('PASSWORD') %>: <input type="password" id="password" />
        </p>
        <p>
          <button id="do-login"><%= app.text('LOG_IN') %></button>
        </p>
      </div>
    </script>

    <script type="text/template" id="_register">
      <div class="register">
        <a href="#login"><%= app.text('LOGIN') %></a>
        <p>
          <%= app.text('USERNAME') %>: <input type="text" id="username" />
        </p>
        <p>
          <%= app.text('PASSWORD') %>: <input type="password" id="password1" />
        </p>
        <p>
          <%= app.text('PASSWORD2') %>: <input type="password" id="password2" />
        </p>
        <p>
          <button id="do-register"><%= app.text('REGISTER') %></button>
        </p>
      </div>
    </script>

    <script type="text/template" id="_players">
      <div class="players">
        <% _.each(players, function(p) {
          %> <p><%= p.get('username') %><button class="invite" data-player-id="<%= p.get('pk') %>"><%= app.text('INVITE') %></button></p> <%
        }) %>
      </div>
    </script>

    <script type="text/template" id="_invites">
      <div class="invites">
        <% _.each(inviteList, function(inv) {
          %> <p>
            <%= inv.get('state') %>
            <button class="accept" data-invite-id="<%= inv.get('pk') %>"><%= app.text('ACCEPT') %></button>
            <button class="decline" data-invite-id="<%= inv.get('pk') %>"><%= app.text('DECLINE') %></button>
          </p> <%
        }) %>
      </div>
    </script>

    <script type="text/template" id="_games">
      <div class="games">
        <% _.each(games, function(g) {
          %> <p>
            <%= app.text(g.getMessageForPlayer(player_pk)) %>
            <button class="to-game" data-game-id="<%= g.get('pk') %>"><%= app.text('TO_GAME') %></button>
          </p> <%
        }) %>
      </div>
    </script>

    <script type="text/template" id="_game">
      <div class="game">
        <p>
          <%= app.text(message) %>
        </p>
        <div>
          <button data-code="A1" class="tile"><%= map['A1'] %></button>
          <button data-code="A2" class="tile"><%= map['A2'] %></button>
          <button data-code="A3" class="tile"><%= map['A3'] %></button><br>
          <button data-code="B1" class="tile"><%= map['B1'] %></button>
          <button data-code="B2" class="tile"><%= map['B2'] %></button>
          <button data-code="B3" class="tile"><%= map['B3'] %></button><br>
          <button data-code="C1" class="tile"><%= map['C1'] %></button>
          <button data-code="C2" class="tile"><%= map['C2'] %></button>
          <button data-code="C3" class="tile"><%= map['C3'] %></button>
        </div>
      </div>
    </script>

    <script type="text/template" id="_nav">
      <div class="nav part">
        <a href="#invites"><%= app.text('INVITES') %></a>
        <a href="#games"><%= app.text('GAMES') %></a>
        <a href="#players"><%= app.text('PLAYERS') %></a>
        <a href="#logout"><%= app.text('LOGOUT') %></a>
      </div>
    </script>

    <script type="text/template" id="_lang">
      <div class="lang">
        <button class="lang-btn" data-lang-id="ru">Русский</button>
        <button class="lang-btn" data-lang-id="en">English</button>
      </div>
    </script>
  {{/content}}
{{/extend}}
